<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StockApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <StockApp.Properties.Settings>
            <setting name="PriceLimit" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ContBonusTimesLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SimulateMaxMonth" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="KDJRange" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="GoodInfoLogin" serializeAs="String">
                <value>LOGIN=</value>
            </setting>
            <setting name="TraceDays" serializeAs="String">
                <value>32</value>
            </setting>
        </StockApp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>